/*--------------------------------------- Global ---------------------------------------*/



body {
    background-color: #fff;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    color: black;
}



/*--------------------------------------- Header ---------------------------------------*/



header {
    background-color: transparent;
    height: fit-content;
    position: absolute;
    z-index: 1000;
    width: 100%;
}

.flex {
    display: flex;
}

.logo {
    display: flex;
    width: 20%;
}

.logo-img {
    width: auto;
    height: 50px;
}

.headerlist {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 50%;
}

.headerlist-content {
    text-decoration: none;
    width: 150px;
    vertical-align: middle;
    text-align: center;
}

.headerlist-content a {
    color: #ffffff;
}

.headerlist-content:hover {
    cursor: pointer;
}



/*--------------------------------------- Page ---------------------------------------*/



.page {
    background-color: #fff;
}

.space {
    height: 100px;
}

.inside {
    margin: 0 10% 0 10%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    height: 360px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 22px;
    border-radius: 10px;
}

.content1,
.content2,
.content3,
.content4,
.content5 {
    height: 100%;
    width: 19%;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 35px 5px rgba(20, 196, 255, 0.1);
    box-shadow: 0px 0px 35px 5px rgba(20, 196, 255, 0.1);
    overflow: hidden;
}

.content1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content5 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content1:hover,
.content2:hover,
.content3:hover,
.content4:hover,
.content5:hover {
    width: 80%;
    cursor: pointer;
}

.inside-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.width4 {
    width: 4%;
}

.blur {
    filter: blur(1px);
}

.gotm-bg {
    background-color: #254441;
    background-image: url(img/hogwards-legacy.jpg);
    width: 100%;
    height: 460px;
    padding-top: 100px;
    padding-bottom: 200px;
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 91%);
}

.slider-container {
    position: absolute;
    z-index: 3;
    top: 570px;
}

.game-slider {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}



/*--------------------------------------- Section des cartes des jeux ---------------------------------------*/
.card-section-title {
    font-size: 4em;
    margin: 0;
    color: #254441;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 23.3em;
    -webkit-box-shadow: 0px 0px 35px 5px rgba(20, 196, 255, 0.1);
    box-shadow: 0px 0px 35px 5px rgba(20, 196, 255, 0.1);
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    margin: 1.3em;
}

.card-img {
    width: 100%;
    height: 100%;
}


.card-containerv2 {}


.cardv2 {
    display: flex;
    margin: 20px 0;
    position: relative;
    justify-content: center;
    height: 229px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.cardv2img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
    object-position: 0;
    margin-bottom: -4px;
}

.cardv2desc {
}

.cardv2name {
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
}

.cardv2phrase {
    font-size: 14px;
    height : 18%;
}

.cardV2RatingContainer {
    display: flex;
    height: 77px;
    background-color: #DB504A;
}

.cardV2RatingSection {
    width: 28%;
    display: flex;
    padding: 10px;
}

.cardV2RatingIcon {
    aspect-ratio: 1/1;
    border: black solid 5px;
    border-radius: 100%;
    position: relative;
}
.cardV2RatingIcon img{
    aspect-ratio: 1/1;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.cardV2RatingProgressBar {
    width: 70%;
    background-color: #914300;
}

.cardV2RatingTabBtn {
    width: 7%;
    background-color: #914300;
}

.cardv2rank {
    width: 20%;
    height: 5%;
    position: absolute;
    left: 143px;
    top: 161px;
    z-index: 1;
    clip-path: polygon(0 0%, 100% 0, 96% 100%, 0 100%);

}

.cardv2:first-child>.cardv2rank {
    background-color: #eb930f;
}

.cardv2:nth-child(2)>.cardv2rank {
    background-color: #717171;
}

.cardv2:nth-child(3)>.cardv2rank {
    background-color: #914300;
}



/* - Test - */


.cardV2RatingTabBtn:hover {
    cursor: pointer;
}

.card-active {
    height: 500px;
}

.card-left {
    width: 23%;
    z-index: 3;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #aaaaaa;
}

.card-right {
    width: 85%;
    z-index: 2;

    height: 76%;
    border-radius: 0 10px 10px 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: #FAFAFA;
    padding: 10px;
    margin: auto 10% auto auto;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.display-block {
    display: block;
}

.card-left img {
    z-index: 9;
    position: relative ;
}

.cardrating20{
    position: absolute;
    z-index: 5;
    width: 240px;
    top: 54%;
    left: 0;
}

.rating:first-child{
    border-bottom: 1px solid #fff;
}

.rating{
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.cardrating20in{
    text-align: center;
    width: 35%;
    display: block;
    margin: auto;
    background-color: #254441;
    border-radius: 10px;
    padding: 10px;

}

/*--------------------------------------- Footer ---------------------------------------*/



footer {
    background-color: #FAFAFA;
}

.footer-collumns-container {
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.footer-collumn {
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.footer-bottom {
    margin: auto;
    width: fit-content;
    background-color: #FAFAFA;
    height: 50px;
    border-top: rgb(223, 223, 223) solid 1px;
}

.very-small-text {
    font-size: 12px;
}

.social-icon {
    height: 30px;
    width: auto;
    fill: #DB504A;
    margin-left: 10px;
}

.socials {
    display: flex;
    align-items: center;
    height: 100%;

}

/*--------------------------------------- Page de jeu ---------------------------------------*/



.background-img {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 1080px;
    position: relative;
}

.background-img img {
    object-fit: contain;
    width: 100%;
}

.background-black {
    background-color: #254441;
    height: 100em;
}

.info-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-box-shadow: 0px 0px 35px 5px rgba(20, 196, 255, 0.05);
    box-shadow: 0px 0px 35px 5px rgba(20, 196, 255, 0.05);
}

.game-title {
    font-size: 10em;
    margin: 0;
    color: #254441;

}

.game-infos {
    height: 50em;
    width: 100%;
    position: absolute;
    top: 500px;
    text-align: center;
}

.gameplay-container {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
}

.gameplay-container h3 {
    font-family: 'Montserrat';
}

.gameplay-note {
    background-color: #fafafa;
    color: gray;
    height: 5px;
}

.gameplay-note-container {
    background-color: gray;
    margin: 0% 5% 3%;
}

.quick-infos {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    padding: 0px;
}

.quick-infos-item {
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}


.quick-infos-item .developper {
    color: #fff;
    background-color: #43AA8B;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
}

.quick-infos-item .date {
    color: #fff;
    background-color: #FF6F59;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
}

.quick-infos-item .pc {
    color: #fff;
    background-color: #DB504A;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
}

.quick-infos-item .xbox {
    color: #fff;
    background-color: #DB504A;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
}

.quick-infos-item .playstation {
    color: #fff;
    background-color: #DB504A;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
}

.desc {
    text-align: justify;
}

.img-container {
    width: 100%;
}

.game-gallery {
    /*
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    */
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
    align-self: center;
    padding: 0;
    overflow-x: scroll;
    white-space: nowrap;
}

.game-img {
    margin: 0 20px 0 0;
    background-color: #DB504A;
    list-style-type: none;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    flex: 0 0 auto;
}

/*-- Test --*/

.box {
    display: flex;
}

.gauche {
    width: 40%;
    height: 300px;
    background-color: #DB504A;
}

.droite {
    width: 60%;
    height: 300px;
    background-color: #43AA8B;
}


/*--------------------------------My shit--------------------------------*/

.game-img-list {
    list-style-type: none;
    border-radius: 10px;
    width: 304px;
    height: 171px;
    flex: 0 0 auto;
}

.list-game {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 106px;
    grid-row-gap: 150px;
    justify-content: center;
    margin-top: 150px;
    width: 80%;
}

.project-item:hover .overlay {
    bottom: 0;
    height: 100%;
}

.overlay {
    position: absolute;
    margin: auto;
    bottom: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.project-item {
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    height: 171px;
    width: 304px;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 30px #6a6b6d;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.separation {
    display: flex;
    margin-bottom: 150px;
}

.search {
    width: 20%;
    justify-content: center;
    margin-top: 150px;
    flex: 0 0 auto;
}

.search-bar {
    width: 100%;
    justify-content: center;
    flex: 0 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

li a{
    position: relative;
    display: block;
    transition: .2s;
}

li a::after{
    position:absolute;
    content: "";
    width: 100px;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform .2s;
    transform: scaleX(0);
    transform-origin: right;
}

li a:hover{
    color: red;
}

li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
